.square{
    height: 15px;
    width: 15px;
    background-color: white;
    border: 0px; 
}

.whitesquare{
    height: 15px;
    width: 15px;
    background-color: white;
    border: 0px;
}

.redsquare{
    height: 15px;
    width: 15px;
    background-color: red;
    border: 0px; 
}

.yellowsquare{
    height: 15px;
    width: 15px;
    background-color: yellowgreen;
    border: 0px; 
}

table{
    border-collapse: collapse;
}

td{
    border: 1px solid lightgray;
    padding: 0px;
}

.mapcontainer{
    max-width:70%;
    max-height: 70%;
    overflow:scroll;
}

::ng-deep .mat-tooltip  {
    white-space: pre-line !important;
  }