.square{
    height: 15px;
    width: 15px;
    background-color: white;
}

table{
    border-collapse: collapse;
}

td{
    border: 1px solid lightgray;
    padding: 0px;
}

.mapcontainer{
    max-width:70%;
    max-height: 70%;
    overflow:scroll;
}